html,
body {
    height: 100px;
}

body {
    font-size: $baseFontSize;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif, 'Play';
    line-height: 1.15;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    position: relative;
    width: 100;
    min-width: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
    font-family: 'Play';
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}