@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url("http://fonts.googleapis.com/css?family=Play");
html,
body {
  height: 100px;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: 18px;
}

.wrapper {
  position: relative;
  width: 100;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  font-family: "Play";
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 650px;
  color: #292929;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -30px;
  right: 10%;
  content: url("../../img/plank.png");
}

.hero__title-section {
  width: 43%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url("./../../img/background.png") right center/50% auto no-repeat;
}

.hero__main-title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 22px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 36px;
  padding-right: 10%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-family: "Play";
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 13.78px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 8px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 40.43px;
  margin-right: 8px;
}

.feature__text {
  font-size: 16px;
  max-width: 85px;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
}
.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}
.btn--theme--red:hover {
  background: #CA1B36;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 54px;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  color: #666666;
  font-family: "Play";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 0 18%;
}

.benefints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefints__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 3%;
}
.benefints__item:first-child {
  margin-left: 0;
}
.benefints__item:last-child {
  margin-right: 0;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}