$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$contrastWhite: #f2f5f4;
$white: #f5f5f5;
$greyArticle: #666666;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import "layout.scss";
// @import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700&display=swap&subset=cyrillic');
@import url("https://fonts.googleapis.com/css?family=Play");


// components
@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/menu";
@import "components/phone-number";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/order";
@import "components/form";
@import "components/radio";
@import "components/reviews__section";