$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$contrastWhite: #f2f5f4;
$white: #f5f5f5;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import "layout.scss";
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url("http://fonts.googleapis.com/css?family=Play");


// components
@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feauter";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";