@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Play");
html {
  font-size: 18px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  font-family: "Play";
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 650px;
  color: #292929;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -30px;
  right: 10%;
  content: url("../img/plank.png");
}

.hero__title-section {
  width: 43%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url("../img/background.png") right center/50% auto no-repeat;
}

.hero__main-title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 22px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 36px;
  padding-right: 10%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 8px;
  margin-bottom: 10%;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 40.43px;
  margin-right: 11px;
}

.feature__text {
  font-size: 16px;
  max-width: 85px;
  margin-right: 8px;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
}
.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}
.btn--theme--red:hover {
  background: #CA1B36;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-family: "Play";
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 13.78px;
  margin-right: 6px;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__title {
  font-size: 54px;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  color: #666666;
  font-family: "Play";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 0 18%;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/seporator.png");
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}

.benefit__desc {
  font-family: "Play";
  font-size: 16px;
  color: #666666;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits__section:before {
  position: absolute;
  bottom: -30px;
  left: 2%;
  content: url("../img/triangle.png");
}

.reviews__display {
  padding: 50px 45px 34px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.reviews__display::after {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -22px;
}

.reviews__display-inner {
  background-color: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 42px solid #F8FaF9;
  position: relative;
  overflow: hidden;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  font-family: "Play";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 38px;
}

.reviews__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 27px;
}

.reviews__text {
  margin-bottom: 38px;
  color: #666666;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__section {
  color: #fff;
  position: relative;
  background: url("../img/order.png") center center/cover no-repeat;
  margin: 0;
}
.order__section:before {
  position: absolute;
  top: -23px;
  right: 10%;
  content: url("../img/polygon.png");
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 5px transparent;
  border-radius: 5px;
}
.form__input--textarea {
  height: 174px;
  resize: none;
}
.form__input:focus {
  border-color: red;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}
.form__controls .radio {
  margin-bottom: 10px;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/checkmark.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  margin-left: 10px;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__section:before {
  position: absolute;
  bottom: -27px;
  left: 80px;
  content: url("../img/ball.png");
}