@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Play");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  font-family: "Play";
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #292929;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -1.6666666667rem;
  right: 10%;
  content: url("../img/plank.png");
}

.hero__title-section {
  width: 43%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 17.9444444444rem;
    height: 17.9444444444rem;
    background: url("../img/tablets-background.png") center center/contain no-repeat;
    margin-bottom: 3.5555555556rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.7777777778rem;
  background: url("../img/background.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    max-width: 33.0555555556rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding-right: 0;
    max-width: 56%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
}

.features__item {
  margin-right: 0.4444444444rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.2461111111rem;
  margin-right: 0.6111111111rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
  margin-right: 0.4444444444rem;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-size: 1rem;
  font-weight: normal;
}
.btn--theme--transparent:hover {
  color: black;
}
@media screen and (max-width: 768px) {
  .btn--theme--transparent {
    color: #E01F3D;
  }
}

.hamburger {
  position: fixed;
  top: 1.8888888889rem;
  right: 4%;
  z-index: 100;
  width: 24px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
  }
}

.hamburger__plank {
  display: block;
  background: black;
  height: 4px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .hamburger__plank {
  background: white;
}

.change .plank1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-3px, 3px);
}

.change .plank2 {
  opacity: 0;
}

.change .plank3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:hover {
  text-decoration: underline;
}

.phone-number {
  font-family: "Play";
  font-size: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.7777777778rem;
  height: 0.7655555556rem;
  margin-right: 0.3333333333rem;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer__phone-number .phone-number__text {
    color: red;
  }
}
@media screen and (max-width: 480px) {
  .footer__phone-number .phone-number__text {
    color: black;
  }
}

.phone-number__text {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .red__phone {
    fill: red;
  }
}
@media screen and (max-width: 480px) {
  .red__phone {
    fill: black;
  }
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__title {
  font-size: 3rem;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1rem;
}

.headline__subtitle {
  color: #666666;
  font-family: "Play";
  font-style: normal;
  font-weight: normal;
  font-size: 0.8888888889rem;
  padding: 0 18%;
  margin-bottom: 3.4444444444rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 4%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.7222222222rem;
  }
}
.benefits__item:before {
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
@media screen and (min-width: 768px) {
  .benefits__item:before {
    content: url("../img/seporator.png");
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
  margin-bottom: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  margin-bottom: 0.3888888889rem;
}

.benefit__desc {
  font-family: "Play";
  font-size: 0.8888888889rem;
  color: #666666;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefit__icon {
  width: 3.3333333333rem;
  height: 3.3333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits__section::after {
  position: absolute;
  bottom: -1.6666666667rem;
  left: 2.6666666667rem;
  content: url("../img/triangle.png");
  z-index: 1;
}

.reviews__display {
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::after {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -1.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__display::after {
    top: -0.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display::after {
    display: none;
  }
}

.reviews__display-inner {
  background-color: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2.3333333333rem solid #F8FaF9;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  font-family: "Play";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.reviews__text {
  margin-bottom: 2.1111111111rem;
  color: #666666;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.reviews__item {
  display: none;
  -webkit-transition: all;
  transition: all;
}
.reviews__item--active {
  display: block;
}

.interactive-avatar {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.2777777778rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__section {
  color: #fff;
  position: relative;
  background: url("../img/order.png") center center/cover no-repeat;
  margin: 0;
}
.order__section:before {
  position: absolute;
  top: -1.2777777778rem;
  right: 10%;
  content: url("../img/polygon.png");
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.7777777778rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__row:last-child {
    margin-bottom: 0.7777777778rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.2777777778rem transparent;
  border-radius: 0.2777777778rem;
}
.form__input--textarea {
  height: 9.6666666667rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form__input:focus {
  border-color: red;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 1.3333333333rem;
}
.form__controls .radio {
  margin-bottom: 0.5555555556rem;
}
.form__controls:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .radio--checkbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/checkmark.png") center center no-repeat;
}
.radio:last-child {
  padding-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  margin-left: 0.5555555556rem;
  padding-right: 1.3888888889rem;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__section {
  margin-bottom: 1.2222222222rem;
}
.reviews__section:before {
  position: absolute;
  bottom: -2.7777777778rem;
  left: 4.4444444444rem;
  content: url("../img/ball.png");
}

.fixed-menu {
  position: fixed;
  top: 35%;
  right: 4%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item:hover .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/map.png") center center/cover no-repeat;
}

.contacts {
  font-style: normal;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .contacts {
    font-size: 1.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-right: 0.5555555556rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  fill: #B3B3B3;
}

.socials__link {
  display: block;
}
.socials__link:hover .socials__icon {
  fill: black;
}

.shop__section {
  background-color: #f5f5f5;
}
.shop__section .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop__gears-wrapper {
  border-radius: 4px;
  display: block;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  position: relative;
  background-color: #9A9A9A;
}
.shop__gears-wrapper:hover ~ .shop__gears-content {
  display: block;
}
@media screen and (max-width: 768px) {
  .shop__gears-wrapper {
    display: none;
  }
}

.shop__gears {
  width: 2.3333333333rem;
  height: 2.3333333333rem;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #fff;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .shop {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.shop__title {
  font-size: 2rem;
  line-height: 100%;
  font-weight: bold;
  margin-bottom: 1.3333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .shop__title {
    font-size: 1.5555555556rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media screen and (max-width: 480px) {
  .shop__title {
    max-width: 16.6666666667rem;
  }
}

.shop__text {
  font-family: "Play";
  font-size: 0.8888888889rem;
  color: #666666;
  max-width: 20.4444444444rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .shop__text {
    font-size: 0.8888888889rem;
    max-width: 84%;
  }
}

.feauter__title {
  font-family: "Play";
  font-size: 0.8888888889rem;
  color: #666;
  margin-bottom: 0.0555555556rem;
}

.feauter__property {
  font-size: 1rem;
  line-height: 100%;
  font-weight: bold;
}

.shop__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3.2777777778rem;
}
@media screen and (max-width: 768px) {
  .shop__col {
    margin-right: 0;
  }
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.7777777778rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .shop__row {
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shop__amount {
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}
@media screen and (max-width: 480px) {
  .shop__amount {
    font-size: 1.7777777778rem;
  }
}

.shop__feauter-charge,
.shop__feauter-weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
@media screen and (max-width: 768px) {
  .shop__feauter-charge,
.shop__feauter-weight {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 4.7777777778rem;
  }
  .shop__feauter-charge:last-child,
.shop__feauter-weight:last-child {
    margin-right: 0;
  }
}

.shop__feauter-charge {
  text-align: start;
}

@media screen and (max-width: 768px) {
  .shop-image-wrapper {
    width: 17rem;
    height: 17rem;
    margin-bottom: 2.7222222222rem;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team--mobile {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .team--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team--mobile .team__item {
  margin-bottom: 0.5555555556rem;
}

@media screen and (max-width: 768px) {
  .team--desktop {
    display: none;
  }
}
.team--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 14.4444444444rem;
  position: relative;
}
.team__item.active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-bottom: 1.9444444444rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    width: auto;
  }
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  height: 16rem;
  margin-bottom: 1.1111111111rem;
}

.team__member-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title {
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.6111111111rem;
}
.team__title:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0.2222222222rem;
  border-left-width: 0.2222222222rem;
  border-top: 0.3333333333rem solid #E01F3D;
  border-bottom: 0;
  display: block;
  margin-left: 0.2777777778rem;
}

.team__content-block {
  padding-bottom: 0.2777777778rem;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
  font-family: "Play";
}

.team__spec,
.team__spec-text {
  font-size: 0.8888888889rem;
}

.team__spec {
  margin-bottom: 0.2222222222rem;
}

.team__spec-text {
  color: #666666;
}

.menu-fullscreen {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-fullscreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    font-size: 2rem;
    text-align: center;
    top: 0;
    left: 100vw;
    padding: 100px 30px 30px 30px;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    background: #333537;
    color: white;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    font-family: "Play";
  }
}

.menu-fullscreen__item {
  margin-bottom: 1.6666666667rem;
}
.menu-fullscreen__item:last-child {
  margin-bottom: 0;
}

.menu-fullscreen__link {
  text-decoration: none;
}

.shop__arrow {
  background: url("./../img/icons/arrow.svg") center center no-repeat;
  background-size: contain;
  width: 0.7222222222rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
}
@media screen and (max-width: 768px) {
  .shop__arrow {
    top: 25%;
    right: 20%;
  }
}
.shop__arrow--right {
  right: -2%;
}
@media screen and (max-width: 768px) {
  .shop__arrow--right {
    right: 20%;
  }
}
@media screen and (max-width: 480px) {
  .shop__arrow--right {
    right: 0%;
  }
}
.shop__arrow--left {
  left: -2%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .shop__arrow--left {
    left: 20%;
  }
}
@media screen and (max-width: 480px) {
  .shop__arrow--left {
    left: 0%;
  }
}

.arrow__icon {
  width: 0.7777777778rem;
  height: 1.4444444444rem;
  fill: black;
}

.shop__gears-content {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 12;
  left: 5.0555555556rem;
  padding: 25px 28px;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 4px;
  display: none;
  width: 13.8888888889rem;
}

.content__info li {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.5555555556rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__info li:last-child {
  margin-bottom: 0;
}

.info__icon--icon {
  height: 32px;
  width: 32px;
  margin-right: 0.8888888889rem;
}

.info__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info__desc,
.info__prop {
  font-size: 0.8888888889rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
  z-index: 15;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 8;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}