@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://fonts.googleapis.com/css?family=Play);
html,
body {
  height: 100px;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  font-family: "Play";
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("./../../img/background.png") left 78% center no-repeat;
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 650px;
  color: #292929;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_item {
  margin-right: 15px;
}
.menu_item:last-child {
  margin-right: 0;
}

.phone-number {
  font-family: "Play";
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 13.78px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.feautes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feautes__item {
  margin-right: 8px;
}
.feautes__item:last-child {
  margin-right: 0;
}