.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(18px);
}

.headline__subtitle {
    color: $greyArticle;
    font-family: "Play";
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    padding: 0 18%;
    margin-bottom: rem(62px);

    @include phones {
        padding: 0 4%;
    }
}