.radio {
    display: flex;
    cursor: pointer;
    align-items: center;
    user-select: none;

    &--checkbox {

        @include tablets {
            margin-bottom: rem(36px);
        }

        @include phones {
            justify-content: center;
        }

        .radio__visible {
            border-radius: 0;

            &::before {
                background: url("./../images/icons/checkmark.png") center center no-repeat;
            }
        }
    }

    &:last-child {
        padding-right: 0;
    }
}

.radio__elem {
    display: none;

    &:checked~.radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__title {
    margin-left: rem(10px);
    padding-right: rem(25px);
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: #fff;

    &:before {
        content: "";
        width: rem(13px);
        height: rem(13px);
        background: #E01F3D;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}