.shop__gears-content {
    background-color: rgba($color: #fff, $alpha: 0.8);
    position: absolute;
    z-index: 12;
    left: rem(91px);
    padding: 25px 28px;
    float: right;
    flex-direction: row;
    border-radius: 4px;
    display: none;
    width: rem(250px); // увеличение блока
}

.content__info li {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-bottom: rem(28px);
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.info__icon--icon {
    height: 32px;
    width: 32px;
    margin-right: rem(16px);
}

.info__desc {
    display: flex;
    flex: 1;
}

.info__desc,
.info__prop {
    font-size: rem(16px);
}