$containerWidth: 940px;
$baseFontSize: 18px;


// breaks

$tablets: 768px;
$phones: 480px;

//colors
$contrastWhite: #f2f5f4;
$white: #f5f5f5;
$greyArticle: #666666;

//z-index

$z-fixed-menu: 100;
$z-hamburger: 100;

//normalize
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
// @import "normalize"; временно

//setups
@import "media.scss";
@import "layout.scss";
// @import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700&display=swap&subset=cyrillic');
@import url("https://fonts.googleapis.com/css?family=Play");


// components
// @import "components/*.scss";
@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/hamburger";
@import "components/menu";
@import "components/phone-number";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/order";
@import "components/form";
@import "components/radio";
@import "components/reviews__section";
@import "components/fixed-menu";
@import "components/map";
@import "components/contacts";
@import "components/socials";
@import "components/shop";
@import "components/team";
@import "components/modal";
@import "components/ytframe";
@import "components/menu-fullscreen";
@import "components/slider";
@import "components/shop-gear-info";
@import "components/footer";