.benefit {
    text-align: center;
}

.benefit__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 7px;
}

.benefit__desc {
    font-family: "Play";
    font-size: 16px;
    color: #666666;
}

.benefit__image-wrapper {
    display: inline-block;
    width: 128px;
    height: 128px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}