.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(31px);
    }

    &:before {
        // content: ;
        position: absolute;
        top: rem(50px);
        right: 0;
        transform: translate(50%);

        @media screen and (min-width: 768px) {
            content: url("../img/seporator.png");
        }
        // @include tablets {
        //     content: none;
        // }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}