.btn {
    font-size: 18px;
    font-weight: bold;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    &--theme--red {
        background: #E01F3D;
        color: #fff;

        &:hover {
            background: #CA1B36;
            
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #fff;
        text-transform: none;
        font-size: 18px;
        font-weight: normal;

        &:hover {
            color: black;
        }
    }

}