.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 14px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__block {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: 18px 11px;
    
    border: solid 5px transparent;
    border-radius: 5px;

    &--textarea {
        height: 174px;
        // width: 450px;
        resize: none;
    }

    &:focus {
        border-color: red;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;

    .radio {
        margin-bottom: 10px;
    }
}

.form__btns {
    display: flex;
    justify-content: center;
}