.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(14px);

    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {

        &:last-child {
            margin-bottom: rem(14px);
        }
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    
    border: solid rem(5px) transparent;
    border-radius: rem(5px);

    &--textarea {
        height: rem(174px);
        // width: rem(450px);
        resize: none;

        @include tablets {
            height: rem(82px);
        }
    }

    &:focus {
        border-color: red;
        outline: none;
    }

    @include tablets {
        padding: rem(8px) rem(10px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: rem(24px);

    .radio {
        margin-bottom: rem(10px);
    }

    &:last-child {
        margin-right: 0;
    }

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    display: flex;
    justify-content: center;
}