.hamburger {
    position: fixed;
    top: rem(34px);
    right: 4%;
    z-index: $z-hamburger;
    width: 24px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
        cursor: pointer;
    }
}

.hamburger__plank {
    display: block;
    background: black;
    height: 4px;
    border-radius: 10px;
    transition: 0.4s;
}

.change .hamburger__plank {
    background: white;
}

.change .plank1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-3px, 3px);
}

.change .plank2 {
    opacity: 0;
}

.change .plank3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}