.hero {
    background-color: $white;
    height: 100vh;
    min-height: 650px;
    color: #292929;
    position: relative;

    &:before {
        position: absolute;
        bottom: -30px;
        right: 10%;
        content: url("/img/plank.png");
    }
}

.hero__title-section {
    width: 43%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 50px;
    background: url("/img/background.png") right center / 50% auto no-repeat;
}

.hero__main-title {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 100%;
    font-weight: bold;
    margin-bottom: 22px;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 36px;
    padding-right: 10%;
}