.hero{
    background: url("./../../img/background.png") left 78% center no-repeat;
    background-color: $white;
    height: 100vh;
    min-height: 650px;
    color: #292929;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}