.menu-fullscreen {
    display: none;
    
    @include tablets {
        display: flex;
        justify-content: center;
        position: fixed;
        font-size: rem(36px);
        text-align: center;
        top: 0;
        left: 100vw;
        padding: 100px 30px 30px 30px;
        z-index: 11;
        width: 100vw;
        height: 100vh;
        background: #333537;
        color: white;
        transition: left 0.3s ease 0s;
        font-family: "Play";
    }
}

.menu-fullscreen__item {
    margin-bottom: rem(30px);
    

    &:last-child {
        margin-bottom: 0;
    }
}

.menu-fullscreen__link {
    text-decoration: none;

}