.phone-number {
    font-family: 'Play';
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(14px);
    height: rem(13.78px);
    margin-right: rem(6px);
}

.header__phone-number {
    @include tablets {
        display: none;
    }
}

.footer__phone-number .phone-number__text {
    @include tablets {
        color: red;
    }

    @include phones {
        color: black;
    }
}


.phone-number__text {
    white-space: nowrap;
}

.red__phone {
    @include tablets {
        fill: red;
    }

    @include phones {
        fill: black;
    }
}