.phone-number {
    font-family: 'Play';
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-elem {
    width: rem(14px);
    height: rem(13.78px);
    margin-right: rem(6px);
}

.header__phone-number {
    @include tablets {
        display: none;
    }
}