.reviews__section {
    margin-bottom: rem(22px);
    &:before {
        position: absolute;
        bottom: rem(-50px);
        // left: 3%;
        left: rem(80px);
        content: url("../img/ball.png");
    }
}