.reviews__display {
    // background: none;
    padding: rem(50px) rem(45px) rem(34px);
    margin-bottom: rem(20px);
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-22px);
    }
}

.reviews__display-inner {
    background-color: #F8FAF9;
    display: flex;
    border: rem(42px) solid #F8FaF9;
    position: relative;
    overflow: hidden;
}

.reviews__avatar {
    width: rem(253px);
    height: rem(264px);
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    font-family: 'Play';
    flex: 1;
    margin-left: rem(38px);
}

.reviews__title {
    font-size: rem(24px);
    font-weight: bold;
    margin-bottom: rem(27px);
}

.reviews__text {
    margin-bottom: rem(38px);
    color: $greyArticle;
}

.reviews__author {
    font-size: rem(18px);
    font-weight: bold;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    position: relative;
}